{% load static %}

<!-- Desktop Sidebar -->
<aside class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
    <div class="py-4 text-gray-500 dark:text-gray-400">
        <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="#" aria-label="Panda Company">
            <i>Panda Company</i>
        </a>
        <div class="mt-16"> <!-- Added margin-top for spacing -->
            
            <ul>
                <li class="relative px-6 py-2">
                    <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'user_dashboard' %}"
                        aria-label="Dashboard"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M3 3h18v18H3z"></path>
                            <path d="M9 3v18"></path>
                            <path d="M3 9h18"></path>
                        </svg>
                        <span class="ml-4">Dashboard</span>
                    </a>
                </li>
            </ul>
            
            

            {% if user.is_superuser %}
            <ul>
                <li class="relative px-6 py-2">
                    <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'admin_dashboard' %}"
                        aria-label="Admin Dashboard"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M3 7h4M3 11h4M3 15h4M13 7h8M13 11h8M13 15h8"></path>
                        </svg>
                        <span class="ml-4">Admin Dashboard</span>
                    </a>
                </li>
            </ul>
    
            <ul>
                <li class="relative px-6 py-2">
                    <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href=""
                        aria-label="Add Payments"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M3 7h12a2 2 0 012 2v10a2 2 0 01-2 2H3a2 2 0 01-2-2V9a2 2 0 012-2h12z"></path>
                        </svg>
                        <span class="ml-4">Add Payments</span>
                    </a>
                </li>
            </ul>

            <ul>
                <li class="relative px-6 py-2">
                    <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'purchase_list' %}"
                        aria-label="Purchases"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M12 4V1M12 4l1 5h-2l1-5zM12 4l-1 5h2l-1-5zM6 19h12l1-8H5l1 8z"></path>
                        </svg>
                        {% if purchase %}
                        <span class="ml-4">Purchases({{ purchase }})</span>
                        {% else %}
                        <span class="ml-4">Purchases</span>
                        {% endif %}
                    </a>
                </li>
            </ul>

            <ul>
                <li class="relative px-6 py-2">
                    <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'transaction_list' %}"
                        aria-label="Transactions"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M12 5v14M5 12h14"></path>
                        </svg>
                        {% if transaction %}
                        <span class="ml-4">Transactions({{ transaction }})</span>
                        {% else %}
                        <span class="ml-4">Transactions</span>
                        {% endif %}
                    </a>
                </li>
            </ul>  
            {% endif %}
    
            <ul>
                <li class="relative px-6 py-2">
                    <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'add_product' %}"
                        aria-label="Add Product"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M3 7h18M3 11h18M3 15h18M3 19h18"></path>
                        </svg>
                        <span class="ml-4">Add Product</span>
                    </a>
                </li>
            </ul>

            <ul>
                <li class="relative px-6 py-2">
                    <a
                        class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="{% url 'product_list' %}"
                        aria-label="Product List"
                    >
                        <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                            <path d="M3 7h18M3 11h18M3 15h18M3 19h18"></path>
                        </svg>
                        <span class="ml-4">Product List</span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    
</aside>

<!-- Mobile Sidebar (Backdrop) -->
<div
    x-show="isSideMenuOpen"
    x-transition:enter="transition ease-in-out duration-150"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in-out duration-150"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    class="fixed inset-0 z-10 flex items-end bg-black bg-opacity-50 sm:items-center sm:justify-center"
    aria-hidden="true"
></div>

<!-- Mobile Sidebar -->
<aside
    class="fixed inset-y-0 z-20 flex-shrink-0 w-64 mt-16 overflow-y-auto bg-white dark:bg-gray-800 md:hidden"
    x-show="isSideMenuOpen"
    x-transition:enter="transition ease-in-out duration-150"
    x-transition:enter-start="opacity-0 transform -translate-x-20"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in-out duration-150"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0 transform -translate-x-20"
    @click.away="closeSideMenu"
    @keydown.escape="closeSideMenu"
    aria-label="Mobile Sidebar"
>
    <div class="py-4 text-gray-500 dark:text-gray-400">
        <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="#" aria-label="Panda Company">
            Panda Company
        </a>
        <ul class="mt-6">
            <li class="relative px-6 py-3">
                <a
                    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="{% url 'user_dashboard' %}"
                    aria-label="Dashboard"
                >
                    <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
                    </svg>
                    <span class="ml-4">Dashboard</span>
                </a>
            </li>
        </ul>

        {% if user.is_superuser %}
        <ul>
            <li class="relative px-6 py-2">
                <a
                    class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="{% url 'admin_dashboard' %}"
                    aria-label="Admin Dashboard"
                >
                    <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M3 7h4M3 11h4M3 15h4M13 7h8M13 11h8M13 15h8"></path>
                    </svg>
                    <span class="ml-4">Admin Dashboard</span>
                </a>
            </li>
        </ul>
        {% endif %}
    </div>
</aside>

